<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardMapper">

	<resultMap type="com.spring.model.Board" id="resultMapBoard">
		<result column="bno" property="bno"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer"/>
		<result column="regdate" property="regdate"/>
		<result column="updatedate" property="updatedate"/>
	</resultMap>
	
	<select id="getBoardList" resultMap="resultMapBoard">
		SELECT
			bno,
			title,
			content,
			writer,
			regdate,
			updatedate
		FROM tbl_board
		WHERE bno > 0
		ORDER BY bno DESC
	</select>
	
	<select id="getBoardListWithPaging" resultMap="resultMapBoard">
		<![CDATA[
		SELECT
			bno, title, content, writer, regdate, updatedate
		FROM (
			SELECT
				/*+INDEX_DESC(tbl_board pk_board)*/
				ROWNUM rn, bno, title, content, writer, regdate, updatedate
			FROM tbl_board
			WHERE ROWNUM <= #{pageNum} * #{amount}
		) WHERE rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="bno">
		<selectKey order="BEFORE" keyProperty="bno" resultType="long">
			SELECT NVL(MAX(bno), 0) + 1 AS bno FROM tbl_board
		</selectKey>
		INSERT INTO tbl_board (
			bno,
			title,
			content,
			writer
		) VALUES (
			#{bno},
			#{title},
			#{content},
			#{writer}
		)
	</insert>
	
	<select id="getBoard" resultMap="resultMapBoard">
		SELECT
			bno,
			title,
			content,
			writer,
			regdate,
			updatedate
		FROM tbl_board
		WHERE bno = #{bno}
	</select>
	
	<select id="getTotalCount" resultType="int">
		SELECT
			COUNT(*)
		FROM tbl_board
		WHERE bno > 0
	</select>
	
	<update id="updateBoard">
		UPDATE tbl_board SET
			title = #{title},
			content = #{content},
			updatedate = SYSDATE
		WHERE bno = #{bno}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM tbl_board
		WHERE bno = #{bno}
	</delete>

</mapper>